# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node.js and JavaScript dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing and Coverage
/coverage

# Next.js specific files
/.next/
/out/

# Production build output
/build

# Vercel deployment files
.vercel

# TypeScript specific files
*.tsbuildinfo
next-env.d.ts

# Miscellaneous files
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log* 

# Environment files
.env*

# VSCode specific files
.vscode/ 
tempCodeRunnerFile.*

# Git related files
*.patch

# Python specific files
.venv
__pycache__/ 

# My specific files
*.db 
review.md
output/
learn/
proposal/
